*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
a:hover{text-decoration: none;}
.color-blue{color:#3A64AB;}
.color-grigio{color:#555555;}
.color-chiaro{color:#707070;}
.b-white{background-color:#fff}
.b-blue{background-color: #3A64AB;}
.b-fondo{background-color: #F8F8F8}

.fs-0{font-size: 10px;}
.fs-1{font-size:11px;}
.fs-2{font-size:12px;}
.fs-3{font-size:13px}
.fs-4{font-size:14px;}
.fs-5{font-size:15px;}
.fs-6{font-size:20px}

.margin-t-4{margin-top: 40px;}
.margin-t-5{margin-top: 80px;}
.margin-t-6{margin-top: 120px;}

.list{list-style:none}
body{
    background:#F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
}

/* start header */

.header{
    width: 100%;
    height:550px;
    background-color: #3A64AB; 
    opacity: 1;
    position: relative;
}
aside{
    position: absolute;
    top:0;
    right:0%;
    z-index: 8;
    background: #3A64AB;
    width: 100%;height:120vh;
}
.open-menu{
    position: absolute;
    top:0;
    right:100%;
    z-index: 8;
    background: #3A64AB;
    width: 100%;height:120vh;
}

.footer-aside{
    position: absolute;
    top: 35%;
}

.theme-1, .footer-aside ul li{
    color: #fff;opacity: 0.5;
}

.theme-1{
    margin-bottom: 15px
}

.footer-aside ul li {
    margin-bottom: 7px;
}
.footer-aside .under-line{

 background: #EEE; 
 height:1px;
 width:100%;
 margin-left: 25px;
 margin-top: 45px;
 opacity: 0.7;
}
.line{
    border: 1px solid rgb(226, 209, 209);
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
}

.box-logo img{
    width:200px;
    height: 50px;
}

.head-page{
    position:absolute;
    top: 55%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
}

.scroll{
    color: #fff;
    height: 150px;
    width:2px;
    position: absolute;
    top:85% ;
    left:50%;
    background-color:#de983d;
    
}
/* end header */


 /* slider */
 .main {
    font-family:Arial;
    width:500px;
    display:block;
    margin:0 auto;
  }
 
  .slider-show{
      padding-top: 90px;
  }
  .slider img{
    width: 100%;
    height: auto;
    padding: 3px ;
  }
  .slick-prev:before, .slick-next:before{
      font-size: 20px;
      color: #555555;
      
  }
  
 
  /* slider */

    /* start soluzioni-trasporto */
.soluzioni-trasporto{
    height: 500px;
}
.soluzioni-trasporto ul li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;   
    background-color:#3A64AB ;
    margin-right: 15px;
    margin-top:7px ;
}


/* soluzioni-trasporto */

/* start nazzareno */
.nazzareno {
    height: 200px;
    position: relative;
}
.nazzareno .nazz-img {
   width: 170px;
   position: absolute;
   top: 20%;
   left: 50%; 
}
/* end nazzareno */